USE [master]
GO
/****** Object:  Database [qr_assist]    Script Date: 26/04/2026 12:40:07 ******/
CREATE DATABASE [qr_assist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qr_assist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\qr_assist.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qr_assist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\qr_assist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qr_assist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qr_assist]
GO
/****** Object:  User [proyecto_grado]    Script Date: 26/04/2026 12:40:08 ******/
CREATE USER [proyecto_grado] FOR LOGIN [proyecto_grado] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [proyecto_grado]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 26/04/2026 12:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[ID_Asistencia] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora_entrada] [time](7) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Asistencia] PRIMARY KEY CLUSTERED 
(
	[ID_Asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 26/04/2026 12:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[ID_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](20) NOT NULL,
	[Apellidos] [varchar](20) NOT NULL,
	[Cargo] [varchar](15) NOT NULL,
	[Codigo_qr] [varchar](255) NOT NULL,
	[Estado] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/04/2026 12:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Contraseña] [varchar](30) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Usuarios__DE4431C5A965811B] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_ID_Empleado] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[Empleados] ([ID_Empleado])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_ID_Empleado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__Rol__3D5E1FD2] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[Empleados] ([ID_Empleado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__Rol__3D5E1FD2]
GO
/****** Object:  StoredProcedure [dbo].[Actualiza_Asistencia]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Actualiza_Asistencia]
@id_asistencia int,
@id_empleado int,
@fecha date,
@hora_entrada time(7),
@estado varchar(20)

AS
BEGIN

update Asistencia
set ID_Empleado = @id_empleado,
	Fecha = @fecha,
	Hora_entrada = @hora_entrada,
	Estado = @estado

where ID_Asistencia = @id_asistencia

end
GO
/****** Object:  StoredProcedure [dbo].[Actualiza_Empleado]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Actualiza_Empleado]
@id_empleado int,
@nombre varchar(20),
@apellido varchar(20),
@cargo varchar(15),
@codigo varchar(255),
@estado varchar(10)

AS
BEGIN

update Empleados
set Nombres = @nombre,
	Apellidos = @apellido,
	Cargo = @cargo,
	Codigo_qr = @codigo,
	Estado = @estado

where ID_Empleado = @id_empleado

end
GO
/****** Object:  StoredProcedure [dbo].[Actualiza_Usuario]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Actualiza_Usuario]
@id_usuario int,
@id_empleado int,
@username varchar(20),
@contrasena varchar(30),
@rol varchar(20)

AS
BEGIN

update Usuarios
set ID_Empleado = @id_empleado,
	username = @username,
	Contraseña = @contrasena,
	Rol = @rol

where ID_Usuario = @id_usuario

end
GO
/****** Object:  StoredProcedure [dbo].[Elimina_Asistencia]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Elimina_Asistencia]
@id_asistencia int

AS
BEGIN

delete from Asistencia
where ID_Asistencia = @id_asistencia

end
GO
/****** Object:  StoredProcedure [dbo].[Elimina_Empleado]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Elimina_Empleado]
@id_empleado int

AS
BEGIN

delete from Empleados
where ID_Empleado = @id_empleado

end
GO
/****** Object:  StoredProcedure [dbo].[Elimina_Usuario]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Elimina_Usuario]
@id_usuario int

AS
BEGIN

delete from Usuarios
where ID_Usuario = @id_usuario

end
GO
/****** Object:  StoredProcedure [dbo].[Inserta_Asistencia]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Inserta_Asistencia]
@id_empleado int,
@fecha date,
@entrada time(7),
@estado varchar(20)

AS
BEGIN

Insert INTO Asistencia(ID_Empleado, Fecha, Hora_entrada, estado)
VALUES(@id_empleado, @fecha, @entrada, @estado)

end
GO
/****** Object:  StoredProcedure [dbo].[Inserta_Empleado]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Inserta_Empleado]
@nombre varchar(20),
@apellido varchar(20),
@cargo varchar(15),
@codigo varchar(255),
@estado varchar(10)

AS
BEGIN

Insert INTO Empleados(Nombres, Apellidos, Cargo, Codigo_qr, Estado)
VALUES(@nombre, @apellido, @cargo, @codigo, @estado)

end
GO
/****** Object:  StoredProcedure [dbo].[Inserta_Usuario]    Script Date: 26/04/2026 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Inserta_Usuario]
@id_empleado int,
@username varchar(20),
@contrasena varchar(30),
@rol varchar(20)

AS
BEGIN

Insert INTO Usuarios(ID_Empleado, Username, Contraseña, Rol)
VALUES(@id_empleado, @username, @contrasena, @rol)

end
GO
USE [master]
GO
